<div class="product-container first-block-about">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="model-title">
        <h1>О нас</h1>
      </div>
      <div class="about-text">
        <p>Мы предоставляем широкого спектра услуг по сервису, монтажу и ремонту холодильного и климатического оборудования по оптимальным ценам. Осуществляем диагностику и ремонт стандартного торгового и промышленного и нестандартного холодильного оборудования.
        </p>
        <p>Тесные связи с ведущими производителями и поставщиками гарантируют Вам установку качественного, сертифицированного оборудования и запасных частей.
        </p>
        <p>В наличии имеется весь необходимый холодильный инструмент, который нужен для проведения диагностики и ремонта холодильного оборудования, основная часть расходных материалов и запчастей. Кроме того, наши механики имеют более чем 5-летний опыт работы в холодильной отрасли, поэтому хорошо знают свое дело и выполняют его добросовестно.
        </p>
      </div>
    </div>
  </div>
</div>