<div class="product-container first-block-contact">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="model-title">
        <h1>Наши контакты</h1>
      </div>
      <div class="page-contacts-list">
        <div class="page-contacts-row">
          <div class="page-contacts-icon">
            <span class="fa fa-map-marker page-contacts-icon"></span>
          </div>
          <div class="page-contacts-info">
            <h4 class="page-contacts-title">Юридический адрес:</h4>
            <p class="page-contacts-text">140170, Московская область, г.Бронницы, Садовый проезд, дом 8, кв. 3</p>
          </div>
        </div>

        <div class="page-contacts-row">
          <div class="page-contacts-icon">
            <span class="fa fa-phone"></span>
          </div>
          <div class="page-contacts-info">
            <h4 class="page-contacts-title">Телефон:</h4>
            <p class="page-contacts-text">Денис: 8-(967)-268-81-81</p>
            <p class="page-contacts-text">Сергей: 8-(915)-487-68-63</p>
          </div>
        </div>

        <div class="page-contacts-row">
          <div class="page-contacts-icon">
            <span class="fa fa-list-alt"></span>
          </div>
          <div class="page-contacts-info">
            <h4 class="page-contacts-title">ИНН:</h4>
            <p class="page-contacts-text">500201424606</p>
          </div>
        </div>

        <div class="page-contacts-row">
          <div class="page-contacts-icon">
            <span class="fa fa-list-alt"></span>
          </div>
          <div class="page-contacts-info">
            <h4 class="page-contacts-title">ОГРНИП:</h4>
            <p class="page-contacts-text">317502700061972</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>