<div class="first-block">
  <div class="first-title">
    <h1>Холодильные камеры, витрины, шкафы, и другое оборудование для магазинов и ресторанов</h1>
  </div>
  <hr>
  <div class="services">
    <div class="row main-benefits-lists">
      <div class="col-md-2 resume">
        <div class="resume-text">
          <p>Монтаж холодильного оборудования всех видов</p>
        </div>
        <div class="logo">
          <img class="tales1" src="assets/install.png" alt="install">
        </div>
      </div>
      <div class="col-md-2 resume">
        <div class="resume-text d-table-cell align-middle">
          <p>Ремонт и техническое обслуживание</p>
        </div>
        <div class="logo">
          <img class="tales1" src="assets/repairs.png" alt="repairs">
        </div>
      </div>
      <div class="col-md-2 resume">
        <div class="resume-text d-table-cell align-middle">
          <p>Продажа нового и б/у оборудования</p>
        </div>
        <div class="logo">
          <img class="tales1" src="assets/buy.png" alt="buy">
        </div>
      </div>
      <div class="col-md-2 resume">
        <div class="resume-text d-table-cell align-middle">
          <p>Скупка, демонтаж оборудования</p>
        </div>
        <div class="logo">
          <img class="tales1" src="assets/deletion.png" alt="buy">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second-block">
  <row>
    <div class="col-md-6 text-col-left">
      <div class="second-title">
        <h2>Монтаж холодильных камер</h2>
      </div>
      <ul class="left-list">
        <li>
          Выполним все виды работ по монтажу и установке холодильных камер и складов из сэндвич панелей. На основе информации заказчика - размеры холодильной камеры, температурный режим (охлаждение, заморозка, хранение), размещение внутри помещения или отдельно стоящая под навесом и др.
        </li>
        <li>
          Огромный опыт работы.
        </li>
        <li>
          Грамотно составим проект холодильной камеры. Подготовим техническую документацию. Проведем расчеты системы холодоснабжения. Подберем холодильное оборудование с необходимым набором функциональных возможностей. Произведем монтаж холодильной камеры и установку оборудования.
        </li>
        <li>
          На место установки холодильных камер выезжают наши специалисты со всем требующимся инструментом и комплектующими элементами.
        </li>
        <li>
          <b class="bold-text">До начала проведения монтажных работ заказчику необходимо:</b> согласовать дату и время начала проведения монтажа, выбрать месторасположение агрегата согласно всем требованиям техники безопасности и техническим параметрам установки, обеспечить свободный доступ к помещению, где будет проводиться установка холодильной системы и полностью очистить помещение от посторонних предметов, мешающих проведению монтажных работ, обеспечить наличие питания необходимой мощности в предполагаемом месте размещения панели управления или холодильного агрегата.
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-col-right">
      <div class="second-title">
        <h2>Монтаж холодильных камер "под ключ" включает:</h2>
      </div>
      <ul class="right-list">
        <li>
          Установку холодильного агрегата на подготовленную горизонтальную поверхность (пол или фундамент).
        </li>
        <li>
          Установку одного воздухоохладителя к потолку камеры.
        </li>
        <li>
          Монтаж автоматики (размещение прибора управления на расстоянии не более чем 2 м от холодильного агрегата).
        </li>
        <li>
          Прокладку магистрали (до 5 м от холодильного агрегата до воздухоохладителя) без маслоподъемных петель и диаметром всасывающего трубопровода до 5/8" (16 мм).
        </li>
        <li>
          Соединение трубопроводов системы.
        </li>
        <li>
          Монтаж электрической схемы.
        </li>
        <li>
          Испытание герметичности и вакуумирование системы.
        </li>
        <li>
          Заправку установки хладагентом.
        </li>
        <li>
          Заладку и запуск системы.
        </li>
      </ul>
      <p class="right-cursive">
        <em>* Правильно выполненный монтаж холодильных камер - залог бесперебойной, долговременной работы и высокой производительности холодильной системы.</em>
      </p>
    </div>
  </row>
</div>