<div class="product-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="model-title">
        <h1>Услуги</h1>
      </div>

      <div class="services-text">
        <ul>
          <li>
            Продажа промышленного торгового холодильного оборудования фирмы Polair и Север.
          </li>
          <li>
            Монтаж.
          </li>
          <li>
            Обслуживание и ремонт остального холодильного оборудования (холодильные витрины, прилавки, холодильные и морозильные шкафы, камеры, моноблоки, сплит-ситемы, морозильные лари, охлаждаемые столы, горки, холодильные камеры для цветов и т.д.).
          </li>
        </ul>
        <p class="down-line services-text-20m">
          <i>Монтаж нестандартного холодильного оборудования по заказу.</i>
        </p>

        <h3 class="model-title">Продажа</h3>
        <p>
          Мы занимаемся продажей промышленного торгового холодильного оборудования фирмы Polair и Север.
        </p>
        <p>
          Они зарекомендовали себя как лучшие производители на рынке. Их преимущество в качестве сборки и производстве оборудования. Быстромонтируемые камеры и агрегаты позволяют выполнить заказ в кратчайшие сроки. Наш специалист подберет холодильное оборудование с необходимым набором функциональных возможностей в зависимости от ваших целей.
        </p>
        <p>
          После чего на место выезжает мастер и делает замеры помещения для будущей камеры.
        </p>
        <p class="services-text-20m">
          Доставку всего необходимого оборудования и материала осуществляем по Москве и области.
        </p>

        <h3 class="model-title">Монтаж</h3>
        <p>
          Наша бригада специалистов выполняет работы по монтажу и установке всех видов холодильных камер, и агрегатов. Получив информацию от заказчика, мы:
        </p>
        <ul>
          <li>Грамотно составим проект холодильной камеры.</li>
          <li>Подготовим техническую документацию.</li>
          <li>Проведем расчеты системы холодоснабжения.</li>
          <li>Подберем холодильное оборудование с необходимым набором функциональных возможностей.</li>
          <li>Произведем монтаж холодильной камеры и установку оборудования.</li>
        </ul>
        <p>
          Необходимые данные: размеры холодильной камеры, температурный режим (охлаждение, заморозка. хранение), размещение внутри помещения или отдельно стоящая под навесом и др.
        </p>
        <p>
          До начала проведения монтажных работ заказчику необходимо: согласовать дату и время начала проведения монтажа; выбрать месторасположение агрегата согласно всем требованиям техники безопасности и техническим параметрам установки; обеспечить свободный доступ к помещению, где будет проводиться установка холодильной системы и полностью очистить помещение от посторонних предметов, мешающих проведению монтажных работ; обеспечить наличие питания необходимой мощности в предполагаемом месте размещения панели управления или холодильного агрегата.
        </p>
        <p>
          Монтаж холодильных камер включает:
        </p>
        <ul>
          <li>
            Установку холодильной камеры на подготовленную горизонтальную поверхность (пол или фундамент).
          </li>
          <li>
            Установка агрегата и комплектующих.
          </li>
          <li>
            Соединение трубопроводов системы.
          </li>
          <li>
            Монтаж электрической схемы.
          </li>
          <li>
            Испытание герметичности и вакуумирование системы.
          </li>
          <li>
            Заправку установки хладагентом.
          </li>
          <li>
            Наладку и запуск системы.
          </li>
        </ul>
        <p class="services-text-20m">
          Правильно выполненный монтаж холодильных камер - залог бесперебойной, долговременной работы и высокой производительности холодильной системы.
        </p>

        <h3 class="model-title">Обслуживание и ремонт</h3>
        <p>
          Обслуживание - это обязательный критерий для бесперебойной работы и предотвращение неожиданных поломок.
        </p>
        <p>
          Обслуживание производится раз в 2 месяца и выполняются работы такие как:
        </p>
        <ul>
          <li>
            Протяжка всех контактов электрической системы.
          </li>
          <li>
            Чистка конденсатора, испарителя и сливного трубопровода.
          </li>
          <li>
            Проверка герметичности и давления в системе холодильного агрегата.
          </li>
          <li>
            Проверка герметичности холодильной камеры и т.д.
          </li>
        </ul>
        <p>
          Наши профессионалы оперативно решат вопросы, возникающие у клиентов в процессе эксплуатации оборудования.
        </p>
      </div>

    </div>
  </div>
</div>