.page-footer{
	height: 280px;
	padding-top: 20px;
	padding-left: 320px;
	padding-right: 20px;
	background: #f5f5f5;
	/*background-color: #ffce26*/
}
.footer-main{
	height: 200px;
}

.footer-down{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	height: 60px;
	padding-top: 40px;
}
.text-uppercase{
	font-family: 'Russo One', sans-serif;
}
.footer-text{
	font-size: 17px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.footer-list{
	list-style-type: none;
	padding: 0px;
}
.footer-list>li>a{
	font-size: 17px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #1a273e;
}