.page-footer{
  padding-top: 20px;
  padding-right: 20px;
  background: #f5f5f5;
  z-index:6;
  /*background-color: #ffce26*/
}

@media (max-width: 1083px) {
  .page-footer{
    padding-left: 20px;
  }
}

@media (min-width: 1084px) {
  .page-footer{
    padding-left: 320px;
  }
}

.footer-down{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding-top: 40px;
}
.text-uppercase{
  font-family: 'Russo One', sans-serif;
}
.footer-text{
  font-size: 17px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
@media (max-width: 991px) {
  .footer-text{
    font-size: 14px;
  }
}
.footer-list{
  list-style-type: none;
  padding: 0px;
}
.footer-list>li>a{
  font-size: 17px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  color: #1a273e;
}

@media (max-width: 991px) {
  .footer-list>li>a{
    font-size: 14px;
  }
}

footer {
  width: 100%;
}

@media (max-width: 767px){
  .custom-col-6{
    width:50%;
    float:left;
  }
}

