.installation{
  margin-top: 120px;
  background-color: #006363;
  height: 800px;
}
.bg{
  height: 800px;
  background-image: url('../images/master2.png');
  background-size: cover;
}
.instllation-text{
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin bottom
}
.instllation-text h1{
  font-size: 50px;
  font-family: 'Rubik Mono One', sans-serif;
  color: #ffde11;
  text-align: center;
  margin-bottom: 40px;
}
.instllation-text p{
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
}
.installation-button{
  background-color: #ffde11;
  height: 80px;
  width: 360px;
  border-radius: 20px;
  color: #06266F;
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}
.button-center{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.installation-button:hover {
  background-color: #06266F;
  border-radius: 20px;
  border: 20px;
  border-color: white;
  color: #ffde11;
}

.modal{
  background-color:rgba(0, 0, 0, 0.9);
}
.modal-lg {
  max-width: 80% !important;

}

.modal .modal-dialog .modal-content{
  background-color: #006363;
}

.modal-title {
  margin: 0 auto;
  margin-top: 25px;
  color: #ffde11 !important;
  font-size: 50px;
  font-family: 'Rubik Mono One', sans-serif;
}

.modal-body{
  margin: 30px;
  color: #fff !important;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: left;
} 
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}