.nav{
  position:fixed;
  max-width: 16.6%;
  min-width: 16.6%;
  background: #f5f5f5;
  height: 100%;
}

.brand{
  display: block;
  font-size: 40px;
  text-align: center;
  display: block;
  color: #1a273e;
  font-family: 'Russo One', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 25px;
}

.brand>a{
  color: #1a273e;
  text-decoration: none;
}

.nav-link{
  text-align: center;
}

.nav>li>a{
  text-transform: uppercase;
  color: #1a273e;
  text-decoration: none;
  font-weight: 400px;
  font-size: 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.nav>li>a:hover{
  background-color: #ffce26 !important;
}

