.navigation{
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  height: 100%;
  width: 300px;
  background: #f5f5f5;
  text-align: center;
}

.brand{
  font-size: 40px;
  color: #1a273e;
  font-family: 'Russo One', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

.brand>a{
  color: #1a273e;
  text-decoration: none;
}

.nav-link{
  text-align: center;
}

.nav>li>a{
  text-transform: uppercase;
  color: #1a273e;
  text-decoration: none;
  font-weight: 400px;
  font-size: 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.nav>li>a:hover{
  background-color: #ffce26 !important;
}

.social{
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
}

.social ul{
  list-style-type: none;
  margin: 0 0 0 -5px;
  padding: 0;
  text-align: center;
  font-size: 0;
}

.social li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 5px;
  padding: 0;
  line-height: normal;
  background: 0;
}

.social li.item1 a {
  content:url("/assets/png/vk_gray.png");
  height: 30px;
  width: 30px;
}

.social li.item1 a:hover {
  content:url("/assets/png/vk_color.png");
  height: 30px;
  width: 30px;
}

.social li.item2 a {
  content:url("/assets/png/insta_gray.png");
  height: 30px;
  width: 30px;
}

.social li.item2 a:hover {
  content:url("/assets/png/insta_color.png");
  height: 30px;
  width: 30px;
}

.social li.item3 a {
  content:url("/assets/png/facebook_gray.png");
  height: 30px;
  width: 30px;
}

.social li.item3 a:hover {
  content:url("/assets/png/facebook_color.png");
  height: 30px;
  width: 30px;
}