.work_object{
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.bd-example{
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
}
.work_object-title{
  margin-left: 60px;
  margin-top:50px;
}
.carousel-size{
  width:60%;
  height:auto;
  margin-left: auto;
  margin-right:auto;
}
.carousel-size .item{
  width: 100%; /* Any width you want */
}
.carousel-size .item img{
  overflow: auto;
  object-fit: contain;
  display: block;
  width: 100%;
  margin: auto;
  min-height:initial;
  max-height: 643px;
  margin-right: auto;
  margin-left: auto;

}





@media (max-width: 991px) {
  .work_object-title{
    font-size: 15px;
    margin-left: 20px;
    margin-top:30px;
  }
}

@media (max-width: 576px){
  .work_object-title{
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:20px;
  }

  .carousel-size{
    box-shadow: inset 0 0 15px #000000;
    background: #f5f5f5;
    width:80%;
    height:auto;
    margin-left: auto;
    margin-right:auto;
  }
  .carousel-control.left{
    margin-left: -25px;
  }

  .carousel-control.right{
    margin-right: -25px;
  }
}


.glyphicon-chevron-left{
  color: #ffce26;
}
.glyphicon-chevron-right{
  color: #ffce26;
}