.product-container{
  padding: 20px;
}

.product-item{
  position:relative;
  border: 4px solid #f5f5f5;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.model-title{
  color: #1a273e;
  font-family: 'Russo One', sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.product-image{
  text-align: center;
}

.product-title{
  font-family: 'Russo One', sans-serif;
}

.product-title>h3>a{
  color: #494c5b;
  text-decoration: none;
}

.product-title>h3>a:hover{
  text-decoration: underline;

}

.product-table{
  color: #1a273e;

}

.link-to-detail{
  position:absolute;
  width: 100%;
  bottom:0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f5f5f5;
  margin-left: -20px;
  margin-right: -20px;
  bottom: 0;
}

.link-to-detail>a{
  display:block;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #1a273e;
  font-weight: 400px;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.link-to-detail:hover{
  display:block;
  cursor: pointer;
  background-color: #ffce26 !important;
}

.product-shhow{
  margin: 40px;

}

.product-table-show{
  max-width: 800px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.price{
  background-color: #ffce26 !important;
}

.cell{
  min-height: 560px;
}

.monoblock{
  min-height: 560px;
}

.split{
  min-height:715px;
}