.parallax-window2 {
  height: 750px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline2{
	margin-top: 40px;
}

.tagline2 h1{
	font-size: 60px;
  font-family: 'Rubik Mono One', sans-serif;
  color: #06266F;
  text-align: center;
}

.cv{
  background: #2A0971;
  border-radius: 5px;
  border-color: #ffde11;
  padding: 20px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 700px;
}

.cv p{
	margin-top: 10px;
	color: white;
  font-size: 25px;
  white-space: pre-line;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.tagline2 h1 {
  margin-bottom: 70px;
  cursor: pointer;
}

.tagline2 h1:hover {
	color: #2A0971;
  text-shadow: 2px 2px 0px #fff, 5px 2px 0px rgba(0,0,0,0.15);
  transition: .6s;
}