<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!--Бренд-->
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&amp;subset=cyrillic" rel="stylesheet">
    <!--меню-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <!--текст в параллакс-->
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <!--цифры-->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="styles/parallax.css">
    <link rel="stylesheet" type="text/css" href="styles/carousel.css">
    <link rel="stylesheet" type="text/css" href="styles/installation.css">
    <link rel="stylesheet" type="text/css" href="styles/second_parallax.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
    <script src="parallax/parallax.js"></script>
  </head>
  <title></title>
  <body>
    <nav class="navbar fixed-top" role="navigation">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-3 justify-content-center">
            <div class="navbar-header">
              <span class="navbar-brand custom-brand">DopHolod</span>
            </div>
          </div>

          <div class="col-4 my-auto">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="#">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Монтаж хо</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Услуга</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <div class="navbar-header">
              <span class="navbar-brand phone">+7 (495) 000-00-00</span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="opasity">
      <div class="parallax-window" data-parallax="scroll" data-image-src="images/parallax.jpg">
        <div class="containir">
          <div class="row justify-content-center">
            <div class="col-6 justify-content-center">
              <div class="tagline">
                <h1>Холодильные камеры, витрины, шкафы, и другое оборудование для магазинов и ресторанов</h1>
              </div>
              <hr>
            </div>
          </div>
          <div class="tagline-resume">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="row justify-content-center">
                  <div class="col-2 resume">
                    <div class="resume-text d-table-cell align-middle">
                      <p>Монтаж холодильных оборудований всех видов</p>
                    </div>
                    <div class="logo">
                      <img class="tales1" src="images/install.png" alt="install">
                    </div>
                  </div>
                  <div class="col-2 resume">
                    <div class="resume-text d-table-cell align-middle">
                      <p>Ремонт и техническое обслуживание</p>
                    </div>
                    <div class="logo">
                      <img class="tales1" src="images/repairs.png" alt="repairs">
                    </div>
                  </div>
                  <div class="col-2 resume">
                    <div class="resume-text d-table-cell align-middle">
                      <p>Продажа нового и б/у оборудования</p>
                    </div>
                    <div class="logo">
                      <img class="tales1" src="images/buy.png" alt="buy">
                    </div>
                  </div>
                  <div class="col-2 resume">
                    <div class="resume-text d-table-cell align-middle">
                      <p>Скупка, демонтаж оборудования</p>
                    </div>
                    <div class="logo">
                      <img class="tales1" src="images/deletion.png" alt="buy">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carouser-custom">
      <div class="containir">
        <div class="title">
            <h1>Наши услуги</h1>
          </div>
        <div class="row justify-content-center">

          <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>

              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="4000">
                  <img class="tales" src="images/1.jpg" alt="1 slide">
                  <div class="carousel-caption">
                    <h1>Монтаж холодильных камер, сплит-систем и моноблоков</h1>
                  </div>
                </div>
                <div class="carousel-item" data-interval="4000">
                  <img class="tales" src="images/2.jpg" alt="2 slide">
                  <div class="carousel-caption">
                    <h1>Монтаж торгового холодильного оборудования</h1>
                  </div>
                </div>
                <div class="carousel-item" data-interval="4000">
                  <img class="tales" src="images/3.jpg" alt="3 slide">
                  <div class="carousel-caption">
                    <h1>Ремонт и техническое обслуживание</h1>
                  </div>
                </div>
                <div class="carousel-item" data-interval="4000">
                  <img class="tales" src="images/4.jpg" alt="4 slide">
                  <div class="carousel-caption">
                    <h1>Продажа нового и б/у оборудования</h1>
                  </div>
                </div>
                <div class="carousel-item" data-interval="4000">
                  <img class="tales" src="images/5.png" alt="5 slide">
                  <div class="carousel-caption">
                    <h1>Скупка, демонтаж</h1>
                  </div>
                </div>
              </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="installation">
      <div class="containir">
        <div class="row">
          <div class="col-6 bg">
          </div>
          <div class="col-6">
            <div class="instllation-text">
              <h1>Монтаж холодильных камер</h1>
              <p>Выполняем все виды работ по монтажу и установке холодильных камер и складов из сэндвич панелей. На основе информации заказчика - размеры холодильной камеры, температурный режим (охлаждение, заморозка. хранение), размещение внутри помещения или отдельно стоящая под навесом и др.</p>
              <p>Грамотно составим проект холодильной камеры; подготовим техническую документацию; проведем расчеты системы холодоснабжения; подберем холодильное оборудование с необходимым набором функциональных возможностей; произведем монтаж холодильной камеры и установку оборудования.</p>
            </div>
            <div class="button-center text-center">
              <button class="btn installation-button" data-toggle="modal" data-target="#exampleModalLong">
                Читать дальше
              </button>

              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="exampleModalLongTitle">Монтаж холодильных камер</h1>
                    </div>
                    <div class="modal-body">
                      <p>- Выполним все виды работ по монтажу и установке холодильных камер и складов из сэндвич панелей. На основе информации заказчика - размеры холодильной камеры, температурный режим (охлаждение, заморозка. хранение), размещение внутри помещения или отдельно стоящая под навесом и др.</p>
                      <p> - Огромный опыт работы.</p>
                      <p> - Грамотно составим проект холодильной камеры; подготовим техническую документацию; проведем расчеты системы холодоснабжения; подберем холодильное оборудование с необходимым набором функциональных возможностей; произведем монтаж холодильной камеры и установку оборудования.</p>
                      <p>- На место установки холодильных камер выезжают наши специалисты со всем требующимся инструментом и комплектующими элементами.</p>
                      <p>  - До начала проведения монтажных работ заказчику необходимо: согласовать дату и время начала проведения монтажа; выбрать месторасположение агрегата согласно всем требованиям техники безопасности и техническим параметрам установки; обеспечить свободный доступ к помещению, где будет проводиться установка холодильной системы и полностью очистить помещение от посторонних предметов, мешающих проведению монтажных работ; обеспечить наличие питания необходимой мощности в предполагаемом месте размещения панели управления или холодильного агрегата.</p>
                      <p>Монтаж холодильных камер "под ключ" включает: установку холодильного агрегата на подготовленную горизонтальную поверхность (пол или фундамент); установку одного воздухоохладителя к потолку камеры; монтаж автоматики (размещение прибора управления на расстоянии не более чем 2 м от холодильного агрегата); прокладку магистрали (до 5 м от холодильного агрегата до воздухоохладителя) без маслоподъемных петель и диаметром всасывающего трубопровода до 5/8" (16 мм); соединение трубопроводов системы; монтаж электрической схемы; испытание герметичности и вакуумирование системы; заправку установки хладагентом; наладку и запуск системы. Правильно выполненный монтаж холодильных камер - залог бесперебойной, долговременной работы и высокой производительности холодильной системы.</p>
                    </div>
                    <div class="modal-footer button-center text-center">
                      <button type="button" class="btn installation-button" data-dismiss="modal">Закрыть</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



      <div class="parallax-window2" data-parallax="scroll" data-image-src="images/master4.jpg">
        <div class="containir">
          <div class="row">
            <div class="col-6 justify-content-left">
              <div class="tagline2">
                <h1>Зачем нужно сервисное обслуживание? </h1>
              </div>
            </div>
            <div class="col-6 justify-content-center">
              <div class="cv">
                <p>Профессиональная холодильная техника , как и любая другая техника, нуждается не только в тщательном уходе, но и периодическом сервисном обслуживании, включающем сервисно-ремонтные мероприятия как во время гарантийного срока, так и после его окончания.</p>
                <p>Помимо обязательного гарантийного, можно заключить договор на регулярное сервисное обслуживание оборудования, которое необходимо даже на время гарантии. Проведение комплексных мероприятий позволит не только сэкономить денежные средства и время на его  ремонт , но и избежать возможных ошибок.</p>
                <p>Сервисное обслуживание предполагает периодический осмотр изделий и проведение необходимых ремонтных работ.</p>
                <p>После покупки любого холодильного агрегата необходим профессиональный монтаж и проведение пуско-наладочных работ.</p>
                <p> Мы производим ремонт, монтаж и обслуживание торгового холодильного оборудования как: холодильные витрины, прилавки, холодильные и морозильные  шкафы, камеры, моноблоки, сплит-системы, морозильные лари, охлаждаемые столы, горки, холодильные камеры для цветов, пивоохладители. Как системы встроенного холода так и выносного холодоснабжения.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    




  </body>
</html>