<p id="notice"><%= notice %></p>

<h1>Products</h1>

<h1>События</h1>

<div class="row buffer-bottom">
  <%# Рендерим сразу массив событий, каждый в паршиале 'events/event' %>
  <%= render partial: 'partials/product', collection: @products %>
</div>
