<div class="container-fluid text-center text-md-left footer-main">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-uppercase">DopHolod.ru</h4>
      <p class="footer-text">Холодильные витрины, шкафы, камеры и другое оборудование для магазинов и ресторанов. <br>Подбор, доставка и обслуживание по Москве и области.</p>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase">Каталог</h5>
      <ul class="footer-list">
        <li>
          <%= link_to "Холодильные камеры", cells_path %>
        </li>
        <li>
          <%= link_to "Моноблоки", monoblocks_path %>
        </li>
        <li>
          <%= link_to "Сплит-Системы", splits_path %>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase">Links</h5>
      <ul class="footer-list">
        <li class="">
          <a href="#!">Link 1</a>
        </li>
        <li>
          <a href="#!">Link 2</a>
        </li>
        <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-down text-center py-3">© 2019 production:
  <a href=""> dopholod.ru</a>
</div>