<div class="container-fluid text-center text-md-left footer-main">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-uppercase">Footer Content</h4>
      <p class="footer-text">Here you can use rows and columns here to organize your footer content.</p>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase">Links</h5>
      <ul class="footer-list">
        <li>
          <a href="#!">Link 1</a>
        </li>
        <li>
          <a href="#!">Link 2</a>
        </li>
        <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase">Links</h5>
      <ul class="footer-list">
        <li class="">
          <a href="#!">Link 1</a>
        </li>
        <li>
          <a href="#!">Link 2</a>
        </li>
        <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-down text-center py-3">© 2019 production:
  <a href=""> dopholod.ru</a>
</div>