<nav class="nav">
  <div class="brand">
    <%= link_to "Dopholod", products_path%>
  </div>
  <div class="menu-left">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Холодильные камеры", cells_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Моноблоки", monoblocks_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Сплит-системы", splits_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Allahy akbar</a>
      </li>
    </ul>
  </div><!-- /menu-left -->
</nav>