<nav class="nav">
  <div class="brand">
    <%= link_to image_tag("MyLogo.png", size: "220x180"), products_path, class: "brand-link"%>
  </div><!-- /brand -->
  <div class="menu-left">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Холодильные камеры", cells_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Холодильные машины</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Агрегаты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Allahy akbar</a>
      </li>
    </ul>
  </div><!-- /menu-left -->
</nav>